* {
    font-family: "Microsoft YaHei UI", serif;
}

body {
    background-color: #DFEAF8FF;
    /*overflow-x: hidden;*/
}

.btn {
    width: 76px;
    height: 28px;
    border-radius: 2px;
    border: #a2a2a2 1px;
    background-color: #8ab5ff;
    position: absolute;
    box-shadow: #8ab5ff 1px 1px 6px;
}
.btn:hover {
    cursor: pointer;
    opacity: .8;
}


.top-bar {
    top: 0;
    left: 0;
    position: absolute;
    height: 100px;
    width: 100%;
    background-color: white;
}
.top-bar .welcome {
    top: 30px;
    position: relative;
    font-size: 25px;
    left: 80%;
}
.top-bar .announce {
    text-align: center;
    position: absolute;
    left: 92%;
    top: 30px;
    font-size: 25px;
    height: 45px;

}
.top-bar .announce ul {
    opacity: 0;
    list-style: none;
    height: 0;
    overflow: hidden;
    background-color: #FFFFFF99;
}
.top-bar .announce ul li {
    font-size: 18px;
    padding: 8px;

}
.top-bar .announce:hover ul {
    height: 320px;
    transition:all 0.2s ease 0.2s;
    margin-top: 5px;
    opacity: 1;
}

.left-bar {
    left: 0;
    top: 100px;
    height: 815px;
    width: 150px;
    position: absolute;
    background-color: #dcdcdc;
}
.left-bar .select {
    text-align: center;
    height: 40px;
    font-size: 28px;
    margin: 10px 10px 60px;
}
.left-bar .select:hover {
    opacity: .7;
    cursor: pointer;
}

.main {
    top: 125px;
    left: 180px;
    position: absolute;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    width: 80%;
    height: 700px;
}
.main .operation-1 {
    position: absolute;
    background-color: #c8d9f1;
    border-radius: 6px;
    height: 550px;
    width: 400px;
    top: 80px;
    left: 120px;
    text-align: center;
}
input[type=file] {
    display: none;
}

.main .operation-1 .btn {
    position: relative;
}
.select-skin {
    position: relative;
    top: 10px;
}
.confirm {
    position: relative;
    top: 30px;
}
.confirm .btn {
    position: relative;
    top: 20px;
}
.confirm .text-bar {
    margin: 10px;
    height: 20px;
    width: 200px;
    border-radius: 4px;
    border-width: 1px;
}
.main .operation-2 {
    text-align: center;
    position: absolute;
    background-color: #c8d9f1;
    border-radius: 6px;
    height: 550px;
    width: 400px;
    top: 80px;
    left: 800px;
}
.main .operation-2 form{
    position: absolute;
    top: 120px;
    left: 165px;
}

#setCapes {
    display: none;
}